html {
	scroll-behavior:smooth;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #e5a835;
}

a{
    text-decoration: none;
    color: white;
}


body{
    font-family: 'Exo', sans-serif;
    height: auto;
    width: auto;
    /*background-color: #12100E;*/
    background-size:100%;
    background-image: url("fond2.jpeg");
    background-position-x: 0px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header{
    height: 100%;
    width: 98%;
    
    position: fixed;
 
    top: 0%;
    background-color: none; 
}


.contenu{
    width: 50%;
    height: 100%;
    background-color: none;

    animation-name: apparition;
    transition: 330ms;
    animation-duration: 2s;
}



#photo{
    width: 50%;
    height: auto;
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    position: fixed;
 
}

#photo-lycee{
    width: 100%;
    height: auto;
    background-image: url("bureau.jpeg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom:5%;
 
}

.astro{
    width: 50%;
    height: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    background-image: url("astronaute.png");
        
    color:white;
    font-weight: bold;


    /*clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);*/
}


#title-menu{
    margin-right: 2.5%;
    font-size:20px;
    font-weight: bold;
    color: white;

    transition: 330ms;
}
#title-menu:hover{
    color:#e5a835;
    background-color: #12100E;

}

/*.menu{
    overflow: hidden;
    background-color: transparent;
    
    height: auto
    width: 100%; /* Full width 
    top: 10px; /* Position the navbar at the top of the page 
    
    display: inline-flex;
    
    margin-top: 1%;
    transition: 330ms;
    animation-duration: 2s;
    animation-name: spawn-menu;


    padding-right: 1%;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}*/

/*.menu:hover{
    width: 100%;
}

.menu:hover .sous-menu {
    display: block;
    
}
*/

/*.sous-menu{
    padding-left:1%;
    padding-right:1%;
    padding-top:-1.75%;
    padding-bottom:0.5%;
    
    font-size: 20px;
    transition: 330ms;

    /*clip-path: polygon(100% 0, 100% 50%, 80% 100%, 0 100%, 0 0);

}*/

/*.sous-menu:hover{ 
    font-size: 23px;
    color:#e5a835;
    transform: rotate(-1deg);
    
}
/*#accueil{
    background-image: url("accueil\ gallifreyan.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}*/




#menu{
    animation-duration: 2s;
    animation-name: spawn-menu;
}



.contenu{
    height: auto;
    width: auto;
    padding: 5%;
    
 
}

#text{
    height: auto;
    font-size: 23px; 
    color: #a29c9b;
    
}

.title-barre{
    display: inline-flex;
    width: 100%;
    height: auto;
}

#title{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 50px; 
   
    color: #e5a835;
    
}

#numero{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 50px;

    color: #e5a835;
  
}

.barre{
    height: 2.5px;
    width: 45%;
    transform: translateY(49px);
    color:transparent;

    background-color: #e5a835;

}

.suite{
    margin-top: 2%;
    text-align: center;
    height: auto;
    width: 15%;
    background-color: #a29c9b;
    font-size: 18px; 
    padding: 1%;
    border-radius: 30px;
}

.suite:hover{
    color: #12100E;
    font-size: 18px; 
    
}

.certf{
    height:auto;
    width: 100%;
    margin-right: 1%;
    margin-top: 5%;
    /*background-color: pink;*/
    border: 2px white solid;
    padding: 3%;
    transition: 330ms;
    background-color:rgba(0,0,0,0.7203081916360294);
    opacity:0.7;
    color: #a29c9b;
    /*clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);*/
}

.certf:hover{
    border: 2px white solid;
    /*border-bottom-right-radius: 20px;*/
    opacity:1;
  
}



#skills-photo{
    width: 50%;
    height: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}


.card{
    width: 100%;
    height: auto;
    box-shadow: -6px 6px 2px 1px #a29c9b;
    border-radius: 20px;
    border: 2px #a29c9b solid;
    padding: 5%;
    margin-top:10%;
    
    color: #a29c9b;
    text-align: center;
    font-weight: bold;
    font-size: 28px;

    transition: 330ms;
    animation-duration: 1.5s;
    animation-name: slidein;
    
}

.card:hover{
    color:white;   
   
}

  .skills{
    display:inline-flex;
    width: 100%;
    height: 50%;
    margin: 3%;
    color: white;
    background-color: #22333b;
    transition: 330ms;

}



.level_skills{
  
    width: auto;
    height: 30%;
    margin: 1%;
    background-color: #2b9ed5;
    display:inline-flex;
    
    transition: transform 0.3s ease 0s;
  
    padding-left:5%;
    padding-right:5%;
    font-weight: bold;
    font-size: 20px;
}

th, td {
    padding: 10px;
     
  }

.one_level_skills{
    height: auto; 
    width: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color:none;
    padding-left: 10%;
    color: transparent;
}

#niv1{
    background-color: white;
    border: 2px #2b9ed5 solid;
}

table{
    padding-bottom: 2%;
}

.espacement{
    height: 220px;
    
}

.petit-espacement{
    height:80px;
}  

footer{
    margin-left: -10%;
    width: 110%;
    height: 7%;
    /*background: rgb(18,16,14);
    background: linear-gradient(360deg, rgba(18,16,14,1) 50%, rgba(255,255,255,0) 100%); */
    background-color: #12100E;
    color: white;
    position: fixed;
    bottom: 0%;
    text-align: right;
}

.back{
    margin-left: 97% ;
    margin-top: 2%;
    text-align: center;
    height: auto;
    width: 20%;
    background-color: white;
    color: #a29c9b;
    font-size: 18px; 
    padding: 1%;
    border-radius: 30px;
    transition: 330ms;
}

.back:hover{
    color: #12100E;
    font-size: 18px; 
    width: 22%;
    
}

